.programm-block {
  border: 1px solid #000;
  padding: 25px;
}
.programm-block .mb-35 {
  text-align: center;
}
.programm-block__unit {
  margin: 60px 0 0 0;
}
.programm-block__unit__more-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.programm-block__unit__more-information__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px 7px 8px 14px;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  margin: 0 0 13px 0;
  cursor: pointer;
}
.programm-block__unit__more-information__button p {
  margin: auto 0;
}
.programm-block__unit__more-information__button svg .more-information__close-button {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.programm-block__unit__more-information__description {
  position: absolute;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  top: 44px;
  padding: 10px 10px 20px 10px;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  background: #fff;
}
.programm-block__unit__more-information__description li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.programm-block__unit__more-information__description li:first-child {
  border-top: 1px solid #DEDEDE;
  padding: 18px 0 0 16px;
}
.programm-block__unit__more-information__description li:first-child::before {
  top: 28px;
}
.programm-block__unit ul h5 {
  padding: 0 0 16px 0;
  margin: 0;
}

@media (max-width: 576px) {
  .programm-block__unit__more-information__description {
    position: relative;
    top: -17px;
  }
}